<h1>Login</h1>
<form id="loginForm" [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
  <label>Usuario: <input type="text" id="email" placeholder="email"
    formControlName="email"
    [ngClass]="{ 'error': this.loginForm.value.email === '' }" /></label>
  <label>Contraseña: <input type="password" id="password" placeholder="contraseña"
    formControlName="password"
    [ngClass]="{ 'error': this.loginForm.value.password === '' }" /></label>
  <button type="submit" id="loginButton" title="Login" [disabled]="!loginForm.valid">Login</button>
</form>
